body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 79, 79);
    font-family: "Orbitron", serif;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    margin: 0;
    padding-top: 10%;
    font-size: 56px;
    color: black;
}


.board {
    margin-top: 10%;
    position: relative;
    display: grid;
}


.row {
    height: 100px;
    margin: 0;
    display: flex;
    flex-direction: row;
}


.cell {
    width: 100px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}


.cell:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.1);
}


.border-horizontal {
    border-top: solid 8px rgb(0, 0, 0);
    border-bottom: solid 8px rgb(0, 0, 0);

}


.border-vertical {
    border-left: solid 8px rgb(0, 0, 0);
    border-right: solid 8px rgb(0, 0, 0);
}


.winline {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Damit die Linie das Klicken nicht blockiert */
}